<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.card.wms.check.mapper.CheckRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.card.wms.check.model.po.CheckRecord">
        <id column="id" property="id" />
        <result column="customer_code" property="customerCode" />
        <result column="check_code" property="checkCode" />
        <result column="sku_id" property="skuId" />
        <result column="check_user" property="checkUser" />
        <result column="storehouse_type" property="storehouseType" />
        <result column="storehouse_code" property="storehouseCode" />
        <result column="store_nums" property="storeNums" />
        <result column="first_check_nums" property="firstCheckNums" />
        <result column="second_check_nums" property="secondCheckNums" />
        <result column="third_check_nums" property="thirdCheckNums" />
        <result column="check_date" property="checkDate" />
        <result column="diff_nums" property="diffNums" />
        <result column="approver" property="approver" />
        <result column="approve_time" property="approveTime" />
        <result column="bill_state" property="billState" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <resultMap id="SubClassResultMap" type="com.magic.card.wms.check.model.dto.CheckRecordQueryResponse" extends="BaseResultMap">
        <result column="customer_name" property="customerName" />
        <result column="sku_code" property="skuCode" />
        <result column="sku_name" property="skuName" />
        <result column="spec" property="spec" />
        <result column="model_no" property="modelNo" />
        <result column="bar_code" property="barCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_code, check_code, sku_id, check_user, storehouse_type, storehouse_code, store_nums, first_check_nums, second_check_nums, third_check_nums, check_date, diff_nums, approver, approve_time, bill_state, state, create_time, create_user, update_time, update_user, remark
    </sql>
	
	<select id="queryCheckRecordList" resultMap="SubClassResultMap" parameterType="com.magic.card.wms.check.model.po.CheckRecord">
        SELECT cbi.customer_name ,cs.sku_code ,cs.bar_code,cs.sku_name,cs.spec,cs.model_no ,wcr.*
        FROM wms_check_record wcr
        LEFT JOIN wms_customer_base_info cbi on wcr.customer_code = cbi.customer_code and cbi.state = '1'
        LEFT JOIN wms_commodity_sku cs on wcr.sku_id = cs.id and cs.state = '1'
        WHERE wcr.state = 1
		<if test="cr.checkDate !=null">
			AND DATE_FORMAT(wcr.check_date,'%Y-%m-%d') =DATE_FORMAT( #{cr.checkDate},'%Y-%m-%d')
        </if>
		<if test="cr.checkUser !=null and cr.checkUser !=''">
			AND wcr.check_user = #{cr.checkUser}
		</if>
		<if test="cr.customerCode !=null and cr.customerCode !=''">
			AND wcr.customer_code = #{cr.customerCode}
		</if>
		<if test="cr.billState !=null and cr.billState !=''">
			AND wcr.bill_state = #{cr.billState}
		</if>
        <if test="cr.checkCode !=null and cr.checkCode !=''">
            AND wcr.check_code like concat('%',#{cr.checkCode},'%')
        </if>
	</select>

    <select id="queryStorehouseCountList" resultType="com.magic.card.wms.statistic.model.dto.StorehouseCountResponseDto">
        select
            cbi.customer_code as customerCode,
            cbi.customer_name as customerName,
            cs.sku_code as skuCode,
            cs.sku_name as commodityName,
            cs.banner,
            cs.spec,
            cs.model_no as modelNo,
            sum(wsc.available_nums) as 'availableNums',
            sum(wsc.store_nums)-sum(wsc.available_nums) as 'emptyAvailableNums',
            sum(wsc.available_nums) as 'usedAvailableNums',
            sum(wsc.store_nums) as 'totalStoreNums'
        from wms_customer_base_info cbi
        left join wms_storehouse_config wsc on wsc.customer_id = cbi.id and wsc.state='1'
        left join wms_commodity_info ci on wsc.commodity_id = ci.id and ci.state='1'
        left join wms_commodity_sku cs on (ci.commodity_code = cs.sku_code or ci.commodity_code = cs.bar_code) and cs.state ='1'
        where  cbi.state='1'
        <if test="null !=customerCode and ''!=customerCode">
            and cbi.customer_code= #{customerCode}
        </if>
        GROUP BY cbi.customer_code, wsc.commodity_id,cbi.customer_name,cs.sku_name,cs.sku_code,cs.spec,cs.banner,cs.model_no
    </select>

    <select id="queryStorehouseUsedList" resultType="com.magic.card.wms.statistic.model.dto.StorehouseUsedResponseDto">
        SELECT
            cbi.customer_code,
            cbi.customer_name as customerName,
            si.house_code as houseCode,
            count(1) as totalStoreNum,
            count(case when sc.commodity_id is not null then sc.commodity_id else null end )  as usedStoreNum,
            count(1) -count(case when sc.commodity_id is not null then sc.commodity_id else null end ) as residuleStoreNum
        FROM wms_customer_base_info cbi
        left join wms_storehouse_config sc on cbi.id = sc.customer_id and sc.state='1'
        left join wms_storehouse_info si on sc.storehouse_id = si.id and si.state='1'
        where cbi.state ='1'
        <if test="null !=customerCode and ''!=customerCode">
            and cbi.customer_code= #{customerCode}
        </if>
        group by cbi.customer_code,cbi.customer_name,si.house_code
    </select>


    <select id="queryOutStorehouseList" resultType="com.magic.card.wms.statistic.model.dto.OutStorehouseResponseDto">
        select
            cbi.customer_code as customerCode,
            cbi.customer_name as  customerName,
            cs.banner,
            cs.bar_code as skuCode,
            cs.sku_name as commodityName,
            cs.spec,
            cs.model_no as modelNo,
            sum(oc.numbers) as outStorehouseNum
        from wms_order_info  oi
        left join wms_customer_base_info cbi on oi.customer_code = cbi.customer_code and cbi.state='1'
        left join wms_order_commodity oc on oi.system_order_no = oc.order_no and oc.state='1'
        left join wms_commodity_sku cs on oc.bar_code = cs.bar_code and cs.state='1'
        where oi.state ='1'
        and oi.bill_state in ('go_out','finished')
        <if test="null !=customerCode and ''!=customerCode">
            and oi.customer_code= #{customerCode}
        </if>
        <if test="null !=startDate and null !=endDate">
            and oi.update_time BETWEEN #{startDate}  and #{endDate}
        </if>

        GROUP BY 	cbi.customer_code,	cbi.customer_name,	cs.banner, cs.bar_code,	cs.sku_name,	cs.spec,	cs.model_no
    </select>
    <select id="queryCheckRecordListByCustomerId" resultMap="SubClassResultMap">

        SELECT
        cbi.customer_name ,
        cs.sku_code ,
        cs.bar_code,
        cs.sku_name,
        cs.spec,
        cs.model_no ,
        wcr.*
        FROM wms_customer_base_info cbi
        left join wms_check_record wcr on cbi.customer_code = wcr.customer_code and  wcr.state = 1
        LEFT JOIN wms_commodity_sku cs on wcr.sku_id = cs.id and cs.state = '1'
        WHERE cbi.state = '1'
        and wcr.bill_state ='save'
        <if test="null !=customerId and '' !=customerId">
            and cbi.id = #{customerId}
        </if>

    </select>

</mapper>
