<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.card.wms.common.mapper.CodeProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.card.wms.common.model.po.CodeProduct">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="type_name" property="typeName" />
        <result column="code" property="code" />
        <result column="seq" property="seq" />
        <result column="product_date" property="productDate" />
        <result column="other_key" property="otherKey" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, type_name, code, seq, product_date, other_key, state, create_time, create_user, update_time, update_user, remark
    </sql>
    
    <select id="getCode" parameterType="com.magic.card.wms.common.model.po.CodeProduct" resultType="java.lang.String">
    	select max(code) from wms_code_product
    	<where>
    		<if test="type != null and type != ''">
    			type = #{type}
    		</if>
    		<if test="productDate != null and productDate  != ''">
    		and	product_date = #{productDate}
    		</if>
    		<if test="otherKey != null and otherKey != ''">
    		and	other_key = #{otherKey}
    		</if>
    		and state = 1
    	</where> 
    	for update
    </select>

</mapper>
