<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.card.wms.baseset.mapper.CommodityInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.card.wms.baseset.model.po.Commodity">
        <id column="id" property="id" />
        <result column="commodity_code" property="commodityCode" />
        <result column="customer_id" property="customerId" />
        <result column="commodity_name" property="commodityName" />
        <result column="packing_num" property="packingNum" />
        <result column="packing_unit" property="packingUnit" />
        <result column="packing_weight" property="packingWeight" />
        <result column="packing_weight_unit" property="packingWeightUnit" />
        <result column="packing_volume" property="packingVolume" />
        <result column="packing_volume_unit" property="packingVolumeUnit" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, commodity_code, customer_id, commodity_name, packing_num, packing_unit, packing_weight, packing_weight_unit, packing_volume, packing_volume_unit, state, create_time, create_user, update_time, update_user, remark
    </sql>

	<select id="selectCommodity" resultType="com.magic.card.wms.baseset.model.po.Commodity">
		select t1.id, t1.commodity_code, t1.customer_id, t1.commodity_name, t1.packing_num, t1.packing_unit, 
				t1.packing_weight, t1.packing_weight_unit, t1.packing_volume, 
				t1.packing_volume_unit, t1.state, t1.create_time, t1.create_user, t1.update_time, t1.update_user, t1.remark
		 from  wms_commodity_info t1
		 	   inner join wms_customer_base_info t2 on t1.customer_id=t2.id
		 <where>
		 	  t1.commodity_code=#{commodityCode}
		 	  and t2.customer_code =#{customerCode}
		 	  and t1.state=1
		 	  and t2.state=1
		 </where>
		
	</select>
	
	<select id="selectUnsalableGood" resultType="com.magic.card.wms.baseset.model.vo.UnsalableGoodVO">
		select distinct ci.id,ci.commodity_code,ci.commodity_name,ci.customer_id,
		cbi.customer_code,cbi.customer_name,DATE_FORMAT(woc.create_time,'%Y-%m-%d') last_date
		 from  wms_commodity_info ci
		 	   left join wms_customer_base_info cbi on ci.customer_id=cbi.id
		 	   left join wms_order_commodity woc on ci.commodity_code=woc.bar_code and woc.state=1
		 where woc.id is  null 
		 	   or woc.create_time &gt;= (SELECT DATE_ADD(now(), INTERVAL ${month} MONTH))
		 	  order by ci.commodity_code 
	</select>

</mapper>
