<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.card.wms.baseset.mapper.CommodityReplenishmentMapper">

    <select id="checkoutStorehouseConfigInfo" resultType="java.util.Map">


    </select>
    <select id="loadGrid" resultType="java.util.Map">
        select wcr.id,
               wcr.replenishment_no,
               wcr.commodity_id,
               wcr.storage_id,
               wcr.checkout_id,
               wcr.stockout_nums,
               wcr.replenishment_nums,
               wcr.is_finally,
               wcr.process_stage,
               wcr.state,
               wcs.sku_name,
               wcs.model_no,
               wcs.single_unit,
               wcs.spec,
               wci.commodity_code,
               wsi.store_code,
               wcr.create_time,
               wcbi.customer_name
        from wms_commodity_replenishment wcr
                 left join wms_commodity_info wci on wci.id = wcr.commodity_id
                 left join wms_commodity_sku wcs on wcs.bar_code = wci.commodity_code
                 left join wms_storehouse_info wsi on wsi.id = wcr.checkout_id
                 left join wms_customer_base_info wcbi on wcbi.id = wci.customer_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="loadGStorehouse" resultType="java.util.Map">
        select wsc.id, wsi.store_code from wms_commodity_replenishment wcr
        left join wms_storehouse_config wsc on wcr.commodity_id = wsc.commodity_id
        left join wms_storehouse_info wsi on wsi.id = wsc.storehouse_id
        where wsi.state = 1 and wcr.replenishment_no = #{replenishmentNo} and wsi.house_code = #{houseCode}
        order by wsi.priority_value
    </select>
</mapper>