<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.card.wms.baseset.mapper.CommoditySkuMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.card.wms.baseset.model.po.CommoditySku">
        <id column="id" property="id" />
        <result column="sku_code" property="skuCode" />
        <result column="sku_name" property="skuName" />
        <result column="commodity_id" property="commodityId" />
        <result column="spec" property="spec" />
        <result column="bar_code" property="barCode" />
        <result column="model_no" property="modelNo" />
        <result column="single_unit" property="singleUnit" />
        <result column="single_weight" property="singleWeight" />
        <result column="single_weight_unit" property="singleWeightUnit" />
        <result column="single_volume" property="singleVolume" />
        <result column="single_volume_unit" property="singleVolumeUnit" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sku_code, sku_name, commodity_id, spec, bar_code, model_no, single_unit, single_weight, single_weight_unit, single_volume, single_volume_unit, state, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
