<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.card.wms.baseset.mapper.LogisticsTrackingInfoMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.card.wms.baseset.model.po.LogisticsTrackingInfo">
        <id column="id" property="id" />
        <result column="serial_no" property="serialNo" />
        <result column="batch_no" property="batchNo" />
        <result column="trace_no" property="traceNo" />
        <result column="op_time" property="opTime" />
        <result column="op_code" property="opCode" />
        <result column="op_name" property="opName" />
        <result column="op_desc" property="opDesc" />
        <result column="op_org_prov_name" property="opOrgProvName" />
        <result column="op_org_city" property="opOrgCity" />
        <result column="op_org_code" property="opOrgCode" />
        <result column="op_org_name" property="opOrgName" />
        <result column="operator_no" property="operatorNo" />
        <result column="operator_name" property="operatorName" />
        <result column="response_state" property="responseState" />
        <result column="error_desc" property="errorDesc" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        lti.id, lti.serial_no, lti.batch_no, lti.trace_no, lti.op_time, lti.op_code, lti.op_name, lti.op_desc, lti.op_org_prov_name, 
        lti.op_org_city, lti.op_org_code, lti.op_org_name, lti.operator_no, lti.operator_name, lti.response_state, lti.error_desc, 
        lti.state, lti.create_time, lti.create_user, lti.update_time, lti.update_user, lti.remark
    </sql>
    
    <select id="getTrackingInfoByMailOrOrderNo" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List"/>
    	from wms_logistics_tracking_info lti
    	left join wms_mail_picking_info mpi on lti.trace_no=mpi.mail_no and mpi.state=1
    	<where>
    		<if test="orderNo != null and orderNo != ''">
    			and mpi.order_no = #{orderNo}
    	   </if>
    	   <if test="mailNo != null and mailNo != ''">
    			and lti.trace_no = #{mailNo}
    	   </if>
    	</where> 
    	order by lti.op_time
    	  
    </select>

</mapper>
