<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.card.wms.baseset.mapper.LogisticsTrackingInfoMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.card.wms.baseset.model.po.LogisticsTrackingInfo">
        <id column="id" property="id" />
        <result column="serial_no" property="serialNo" />
        <result column="batch_no" property="batchNo" />
        <result column="trace_no" property="traceNo" />
        <result column="op_time" property="opTime" />
        <result column="op_code" property="opCode" />
        <result column="op_name" property="opName" />
        <result column="op_desc" property="opDesc" />
        <result column="op_org_prov_name" property="opOrgProvName" />
        <result column="op_org_city" property="opOrgCity" />
        <result column="op_org_code" property="opOrgCode" />
        <result column="op_org_name" property="opOrgName" />
        <result column="operator_no" property="operatorNo" />
        <result column="operator_name" property="operatorName" />
        <result column="response_state" property="responseState" />
        <result column="errorDesc" property="errorDesc" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_no, batch_no, trace_no, op_time, op_code, op_name, op_desc, op_org_prov_name, op_org_city, op_org_code, op_org_name, operator_no, operator_name, response_state, errorDesc, state, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
