<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.card.wms.baseset.mapper.MailPickingDetailMapper">
    <update id="packageOmit">
        UPDATE wms_mail_picking_detail
        SET pick_nums = package_nums - #{omitNums}
        WHERE pick_no = #{pickNo}
        AND mail_no = #{mailNo}
        AND commodity_code = #{commodityCode}
    </update>

    <!--   获取虚拟快递单号，用于生成拣货单数据 -->
    <select id="virtualMails" resultType="java.util.Map">
        SELECT
            wmpd.mail_no mailNo,
            wmpd.order_no systemOrderNo,
            wpb.bill_state
        FROM
            wms_mail_picking_detail wmpd
            LEFT JOIN wms_order_info woi ON wmpd.order_no = woi.system_order_no
            LEFT JOIN wms_mail_picking_info wmpi ON wmpi.mail_no = wmpd.mail_no
            LEFT JOIN wms_picking_bill wpb ON  wpb.pick_no = wmpi.pick_no
        <where>
            ${ew.sqlSegment}
        </where>

    </select>
    <!--    获取包裹商品对应的耗材清单   -->
    <select id="mailPickingCommodityInfo" resultType="java.util.Map">
        SELECT
            woi.customer_code customer,
            woi.order_no orderNo,
            woi.system_order_no systemOrderNo,
            wmpd.commodity_code commodityCode,
            wcs.sku_name skuName,
            wmpd.package_nums bayNums,
            wcs.single_weight singleWeight,
            wcs.single_weight_unit singleWeightUnit,
            wcshc.bar_code useBarCode,
            wcshc.sku_name useSkuName,
            wcshc.single_weight useSingleWeight,
            wcshc.single_weight_unit useSingleWeightUnit,
            wccc.left_value leftValue,
            wccc.right_value rightValue,
            wccc.use_nums useNums
        FROM
            wms_mail_picking_detail wmpd
            LEFT JOIN wms_order_info woi ON woi.system_order_no = wmpd.order_no
            LEFT JOIN wms_commodity_sku wcs ON wmpd.commodity_code = wcs.bar_code
            LEFT JOIN wms_commodity_consumables_config wccc ON wccc.commodity_code = wmpd.commodity_code
            LEFT JOIN wms_commodity_sku wcshc ON wccc.use_commodity_code = wcshc.bar_code
        WHERE wmpd.mail_no = #{virtualMail}
    </select>
    <!--    获取拣货单复检商品清单列表   -->
    <select id="invoiceCheckCommodityList" resultType="java.util.Map">
        SELECT
            *
        FROM
            v_wms_n_invoice_check
        WHERE pickNo = #{pickNo} AND commodityCode = #{commodityCode}
    </select>
    <!--  批量加载包裹商品数据  -->
    <select id="batchLoadMailCommodity" resultType="java.util.Map">
        SELECT
            wmpd.commodity_code commodityCode,
            wcs.sku_name skuName,
            wcs.spec,
            wcs.model_no modelNo,
            wcs.single_unit singleUnit,
            wmpd.mail_no mailNo,
            wmpd.package_nums packageNums,
            wmpd.pick_nums pickNums
        FROM
            wms_mail_picking_detail wmpd
            LEFT JOIN wms_commodity_sku wcs ON wcs.bar_code = wmpd.commodity_code
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="needNoticeReplenishment" resultType="java.util.Map">
        SELECT
            wsc.id,
            wsc.commodity_id commodityId,
            wmpd.commodity_code commodityCode,
            wsc.storehouse_id storehouseId,
            wsi.store_code storehouseCode,
            wsc.available_nums availableNums,
            sum( wmpd.package_nums ) - wsc.available_nums omitNums
        FROM
            wms_mail_picking_info wmpi
            LEFT JOIN wms_mail_picking_detail wmpd ON wmpd.mail_no = wmpi.mail_no
            LEFT JOIN wms_order_info woi ON woi.system_order_no = wmpi.order_no
            LEFT JOIN wms_commodity_info wci ON wci.commodity_code = wmpd.commodity_code
            LEFT JOIN wms_customer_base_info wcbi ON wcbi.customer_code = woi.customer_code
            LEFT JOIN wms_storehouse_config wsc ON wsc.commodity_id = wci.id
            LEFT JOIN wms_storehouse_info wsi ON wsi.id = wsc.storehouse_id
        WHERE
            wsi.house_code = #{houseCode}  AND wmpi.pick_no = #{pickNo} AND woi.bill_state != #{billState}
        GROUP BY
            wsc.id,
            wmpd.commodity_code,
            wsc.storehouse_id,
            wsi.store_code,
            wsc.commodity_id
    </select>

</mapper>