<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.card.wms.baseset.mapper.OrderCommodityMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.card.wms.baseset.model.po.OrderCommodity">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="customer_code" property="customerCode" />
        <result column="bar_code" property="barCode" />
        <result column="model_no" property="modelNo" />
        <result column="spec" property="spec" />
        <result column="numbers" property="numbers" />
        <result column="pick_numbers" property="pickNumbers" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, customer_code, bar_code, model_no, spec, numbers, pick_numbers, state, create_time, create_user, update_time, update_user, remark
    </sql>
    <select id="loadOrderCommodityGrid" resultType="java.util.Map">
        SELECT
            woc.id,
            woc.order_no orderNo,
            woc.bar_code barCode,
            wcs.sku_name skuName,
            wcs.model_no modelNo,
            wcs.spec,
            woc.numbers,
            woc.pick_numbers pickNumbers,
            wcs.single_unit unit

        FROM
            wms_order_commodity woc
            LEFT JOIN wms_commodity_sku wcs ON wcs.bar_code = woc.bar_code
        WHERE woc.order_no = #{orderNo}
	    ORDER BY wcs.sku_name
    </select>
    <select id="loadBatchOrderCommodityGrid" resultType="java.util.Map">
        SELECT
            woc.id,
            woc.order_no orderNo,
            woc.bar_code barCode,
            wcs.sku_name skuName,
            wcs.model_no modelNo,
            wcs.spec,
            woc.numbers,
            woc.pick_numbers pickNumbers,
            wcs.single_unit unit

        FROM
            wms_order_commodity woc
            LEFT JOIN wms_commodity_sku wcs ON wcs.bar_code = woc.bar_code
        WHERE woc.order_no IN
        <foreach collection="orderNos" item="orderNo" open="(" close=")" separator=",">
            #{orderNo}
        </foreach>
	    ORDER BY wcs.sku_name
    </select>
    <select id="orderCommodities" resultType="java.util.Map">
        select order_no, bar_code, numbers
        from wms_order_commodity woc
        where customer_code = #{customerCode}
        and order_no in <foreach collection="orderNos" item="orderNo" open="(" separator="," close=")">#{orderNo}</foreach>
    </select>

</mapper>
