<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.card.wms.baseset.mapper.OrderInfoMapper">
	 <resultMap id="BaseResultMap" type="com.magic.card.wms.baseset.model.dto.OrderInfoDTO">
        <id column="id" property="id" />
        <result column="mail_no" property="mailNo" />
        <result column="order_no" property="orderNo" />
        <result column="customer_code" property="customerCode" />
        <result column="customer_name" property="customerName" />
        <result column="recipt_name" property="reciptName" />
        <result column="post_code" property="postCode" />
        <result column="prov" property="prov" />
        <result column="city" property="city" />
        <result column="recipt_addr" property="reciptAddr" />
        <result column="recipt_phone" property="reciptPhone" />
        <result column="express_key" property="expressKey" />
        <result column="is_b2b" property="isB2b" />
        <result column="goods_value" property="goodsValue" />
        <result column="bill_state" property="billState" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
        <result column="preset_weight" property="presetWeight" />
        <collection property="commodities" ofType="com.magic.card.wms.baseset.model.dto.OrderCommodityDTO" column="order_no">
        	<result column="order_no" property="orderNo" />
	        <result column="customer_code" property="customerCode" />
	        <result column="bar_code" property="barCode" />
	        <result column="model_no" property="modelNo" />
	        <result column="spec" property="spec" />
	        <result column="sku_name" property="commodityName" />
	        <result column="numbers" property="numbers" />
        </collection>
    </resultMap>
    <sql id="orderCommodityInfoSQL">
        SELECT
            woc.order_no orderNo,
            woc.customer_code customer,
            woc.bar_code barCode,
            wcs.sku_name skuName,
            woc.numbers bayNums,
            wcs.single_weight singleWeight,
            wcs.single_weight_unit singleWeightUnit,
            wcshc.bar_code useBarCode,
            wcshc.sku_name useSkuName,
            wcshc.single_weight useSingleWeight,
            wcshc.single_weight_unit useSingleWeightUnit,
            wccc.left_value leftValue,
            wccc.right_value rightValue,
            wccc.use_nums useNums
        FROM
            wms_order_info woi
            LEFT JOIN wms_order_commodity woc ON woi.order_no = woc.order_no AND woi.customer_code = woc.customer_code
            LEFT JOIN wms_customer_base_info wcbi ON wcbi.customer_code = woi.customer_code
            LEFT JOIN wms_commodity_info wci ON wci.customer_id = wcbi.id  AND wci.commodity_code = woc.bar_code
            LEFT JOIN wms_commodity_consumables_config wccc ON wccc.commodity_id = wci.id
            LEFT JOIN wms_commodity_info wcihc ON wccc.use_commodity_id = wcihc.id
            LEFT JOIN wms_commodity_sku wcs ON wcs.bar_code = wci.commodity_code
            LEFT JOIN wms_commodity_sku wcshc ON wcshc.bar_code = wcihc.commodity_code
    </sql>
    <select id="orderCommodityWeightMap" resultType="java.util.Map">
        <include refid="orderCommodityInfoSQL"/>
        WHERE
            woc.order_no = #{orderNo} AND woc.customer_code = #{customerCode}
    </select>
    <select id="loadGrid" resultType="java.util.Map">
        SELECT
            woi.id,
            woi.order_no orderNo,
            woi.customer_code customerCode,
            wcbi.customer_name customerName,
            woi.recipt_name reciptName,
            woi.recipt_phone reciptPhone,
            woi.recipt_addr reciptAddr,
            woi.express_key expressKey,
            woi.is_b2b isB2b,
            woi.bill_state billState,
            woi.create_time createTime
        FROM
            wms_order_info woi
            LEFT JOIN wms_customer_base_info wcbi ON woi.customer_code = wcbi.customer_code
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="orderPackage" resultType="java.util.Map">
        <include refid="orderCommodityInfoSQL"/>
        WHERE woc.order_no = #{orderNo}
    </select>
    
    <!-- 根据拣货单查询订单及商品信息 -->
     <select id="selectOrderByNo" resultMap="BaseResultMap" >
       	select pi.mail_no,pi.pick_no,pi.preset_weight, oi.order_no, oi.customer_code, oi.customer_name, oi.recipt_name, oi.post_code, 
       	oi.prov, oi.city, oi.recipt_addr, oi.recipt_phone, oi.express_key, oi.is_b2b, oi.goods_value, oi.bill_state, oi.remark,
       	oc.customer_code, oc.bar_code, oc.model_no, oc.spec, oc.numbers, oc.pick_numbers, 
       	sku.sku_name
       	from wms_order_info oi 
       		left join wms_mail_picking_info pi on oi.order_no=pi.order_no
 			left join wms_order_commodity oc on pi.order_no=oc.order_no
 			left join wms_commodity_sku sku on oc.bar_code=sku.bar_code
 		<where>
 			<if test="pickNo != null and pickNo != '' ">
 				pi.pick_no=#{pickNo}
 			</if>
 			<if test="orderNo != null and orderNo != '' ">
 				pi.order_no=#{orderNo}
 			</if>
 		</where>
    </select>
    
</mapper>
