<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.card.wms.baseset.mapper.PickingBillMapper">
    <update id="updateOrderBillState">
        UPDATE
            wms_order_info
        SET bill_state = #{packingOrderCode}
        WHERE system_order_no in (
            SELECT
                DISTINCT order_no
            FROM wms_mail_picking_info
            WHERE pick_no = #{pickNo}
        ) AND bill_state != #{cancelOrderCode}
    </update>
    <update id="batchCancel">
        update wms_picking_bill set bill_state = #{cancelCode} <where>${ew.sqlSegment}</where>
    </update>
    <select id="loadGrid" resultType="java.util.Map">
        SELECT
            id,
            pick_no pickNo,
            is_B2B isB2b,
            process_stage processStage,
            bill_state billState,
            state printTimes,
            create_time createTime
        FROM
            wms_picking_bill
            <where>
                ${ew.sqlSegment}
            </where>
    </select>
    <select id="customerCodes" resultType="java.lang.String">
        SELECT customer_code
        FROM wms_order_info woi
        LEFT JOIN wms_mail_picking_info wmpi ON wmpi.order_no = woi.system_order_no
        LEFT JOIN wms_picking_bill wpb ON wpb.pick_no = wmpi.pick_no
        <where> ${ew.sqlSegment}</where>
    </select>
</mapper>