<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.card.wms.warehousing.mapper.PurchaseBillDetailMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.card.wms.warehousing.model.po.PurchaseBillDetail">
        <id column="id" property="id" />
        <result column="purchase_id" property="purchaseId" />
        <result column="commodity_name" property="commodityName" />
        <result column="model_no" property="modelNo" />
        <result column="spec" property="spec" />
        <result column="unit" property="unit" />
        <result column="bar_code" property="barCode" />
        <result column="weight" property="weight" />
        <result column="volume" property="volume" />
        <result column="purchase_nums" property="purchaseNums" />
        <result column="arrival_date" property="arrivalDate" />
        <result column="production_date" property="productionDate" />
        <result column="shilf_life" property="shilfLife" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, purchase_id, commodity_name, model_no, spec, unit, bar_code, weight, volume, purchase_nums, arrival_date, production_date, shilf_life, state, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
