<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.card.wms.baseset.mapper.StorehouseConfigMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magic.card.wms.baseset.model.po.StorehouseConfig">
        <id column="id" property="id" />
        <result column="storehouse_id" property="storehouseId" />
        <result column="customer_id" property="customerId" />
        <result column="commodity_id" property="commodityId" />
        <result column="store_nums" property="storeNums" />
        <result column="availabe_nums" property="availabeNums" />
        <result column="lock_nums" property="lockNums" />
        <result column="opr_type" property="oprType" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, storehouse_id, customer_id, commodity_id, store_nums, availabe_nums, lock_nums, priority_value, opr_type, state, create_time, create_user, update_time, update_user, remark
    </sql>
    
    <select id="queryCommoidtyStoreList" resultType="com.magic.card.wms.check.model.dto.CheckRecordInfoDto" parameterType="com.magic.card.wms.check.model.dto.QueryCheckRecordDto">
    	SELECT cbi.customer_name as customerName,
    			cbi.customer_code as customerCode,
    			sc.storehouse_id as storehouseId,
    			sc.customer_id as customerId,
    			sc.commodity_id as commodityId,
    			sc.store_nums as storeNums,
			 	cs.sku_name as commodityName,
			 	cs.id as skuId,
			 	cs.sku_code as skuCode,
			 	cs.model_no as modelNo,
			 	di.dict_name as storeType,
			 	si.house_code as houseCode,
			 	si.store_code as storeCode,
			 	si.area_code as areaCode,
			 	si.is_frozen as isFrozen,  
    			sc.state,
			 	cs.spec 
		FROM wms_storehouse_config sc 
		LEFT JOIN wms_commodity_info ci on sc.commodity_id = ci.id and ci.state =1
		LEFT JOIN wms_customer_base_info cbi on ci.customer_id = cbi.id and cbi.state =1
		LEFT JOIN wms_commodity_sku cs on (ci.commodity_code = cs.sku_code or ci.commodity_code = cs.bar_code) and cs.state =1
		LEFT JOIN wms_storehouse_info si on sc.storehouse_id = si.id and si.state =1
		LEFT JOIN wms_dict_info di on si.house_code = di.dict_code and di.state =1
		where  sc.state = 1
		and sc.commodity_id is not null
		<if test="cr.customerId != null">
			and sc.customer_id = #{cr.customerId}
		</if>
		<if test="cr.storeIdList != null">
			and sc.storehouse_id in 
			<foreach collection="cr.storeIdList" item="cr.storeIdList" index="index" open="(" close=")" separator=",">
			  #{cr.storeIdList}
			</foreach>
		</if>
		<if test="cr.commodityIdList != null">
			and sc.commodity_id in 
			<foreach collection="cr.commodityIdList" item="cr.commodityIdList" index="index" open="(" close=")" separator=",">
			  #{cr.commodityIdList}
			</foreach>
		</if>
		ORDER BY sc.commodity_id
    </select>

    <!--	库位配置信息加载 -->
	<select id="storehouseConfig" resultType="java.util.Map">
		SELECT
			wsc.id,
			wsc.storehouse_id storehuoseId,
			wsc.customer_id customerId,
			wsc.commodity_id commodityId,
			wcbi.customer_name customerName,
			wcbi.customer_code customerCode,
			wcs.bar_code barCode,
			wcs.sku_name skuName,
			wcs.spec spec,
			wcs.model_no modelNo,
			wcs.single_unit singleUnit,
			wsi.store_code storeCode,
			wsi.house_code houseCode,
			wdi.dict_name houseName,
			wsc.store_nums storeNums,
			wsc.available_nums availableNums,
			wsc.lock_nums lockNums
		FROM
			wms_storehouse_config wsc
			LEFT JOIN wms_storehouse_info wsi ON wsi.id = wsc.storehouse_id
			LEFT JOIN wms_dict_info wdi ON wdi.dict_code = wsi.house_code
			LEFT JOIN wms_customer_base_info wcbi ON wcbi.id = wsc.customer_id
			LEFT JOIN wms_commodity_info wci ON wci.id = wsc.commodity_id
			LEFT JOIN wms_commodity_sku wcs ON wci.commodity_code = wcs.bar_code
		<where>
			${ew.sqlSegment}
		</where>

	</select>
	<!--	加载库位配置信息	-->
    <select id="loadGrid" resultType="java.util.Map">
		SELECT
			wsc.id,
			wsc.state,
			wsc.customer_id customerId,
			wsc.store_nums storeNums,
			wsc.available_nums availabelNums,
			wcs.sku_name skuName,
			wcs.bar_code commodityCode,
			wsi.id storehouseId,
			wsi.house_code houseCode,
			wsi.store_code storeCode,
			wcbi.customer_code customerCode,
			wcbi.customer_name customerName,
			wci.id commodityId
		FROM
			wms_storehouse_config wsc
			LEFT JOIN wms_storehouse_info wsi ON wsi.id = wsc.storehouse_id
			LEFT JOIN wms_commodity_info wci ON wsc.commodity_id = wci.id
			LEFT JOIN wms_commodity_sku wcs ON wcs.bar_code = wci.commodity_code
			LEFT JOIN wms_customer_base_info wcbi ON wcbi.id = wsc.customer_id

		<where>
			${ew.sqlSegment}
		</where>
	</select>

	<select id="recommendStore" resultType="com.magic.card.wms.baseset.model.vo.StorehouseConfigVO">
		select  sc.storehouse_id,
				si.area_code,
				si.house_code,
				si.store_code,
				si.is_frozen,
				sc.available_nums
		from wms_storehouse_config sc
				inner join wms_storehouse_info si on sc.storehouse_id=si.id and si.state=1
				inner join wms_customer_base_info cbi on sc.customer_id=cbi.id and cbi.state=1
				inner join wms_commodity_info ci on ci.id=sc.commodity_id and ci.state=1
				where
				   sc.state=1
				   and sc.available_nums=0
				   and si.is_frozen!=1
				   and si.house_code='CK-GN-CCQ'
				   and customer_code=#{customerCode}
				   <if test="barCode !=null and barCode != '' ">
				   		and ci.commodity_code=#{barCode}
				   </if>
	</select>
</mapper>
